@font-face {
    font-family: 'Musicals';
    src: url('../fonts/Musiclals.woff2') format('woff2'),
         url('../fonts/Musicals.woff') format('woff'),
         url('../fonts/Musicals.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Musicals', Arial, sans-serif;
}

/* Header */

header {
    background-color: #7d9fba;
}

#logo {
    width: 227px;
    height: 110px;
    padding: 0.8rem;
}

.social-links a {
    color: #000;
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    transition: color 0.4s ease;
}

.social-links a:hover {
    color: #e80815;
}