@font-face {
    font-family: 'Musicals';
    src: url('../fonts/Musiclals.woff2') format('woff2'),
         url('../fonts/Musicals.woff') format('woff'),
         url('../fonts/Musicals.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Musicals', Arial, sans-serif;
}

            /* Header */
header {
    background-color: #7d9fba;
}

/* Logp */
#logo {
    width: 227px;
    height: 110px;
    padding: 0.8rem;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Social media links */
.social-links a {
    color: #000;
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    transition: color 0.4s ease;
}

.social-links a:hover {
    color: #e80815;
}

/* Newsletter form */
#newsletter {
    text-align: center;
}

#newsletter-header {
    color: #e80815;
    display: inline-block;
    margin-top: 5px;
}

#newsletter .btn {
    margin-bottom: 16px;
}

/* Landing View */

#landing {
    background-color: #d49e77 ;
}

#landing h1 {
    font-size: 7rem;
    letter-spacing: .25rem;
    padding: 2rem 0 0.9rem;
}

#landing img {
    border-radius: 5px;
}

#landing div div {
    padding: .8rem;
    margin: 0 auto;
    
}

#landing div div article {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 2rem;
}

/* The Band */

#the-band {
    background-color: #97aa8e;    
}

/* The Music */

#the-music {
    background-image: url("../images/img-themusic.jpg");
    background-position: center;
    background-size: contain;
    height: 850px;
    width: 100%;
}

/* Availability */

#availability {
    background-image: url("../images/img-availability.jpg");
    background-position: center;
    background-size: contain;
    height: 850px;
    width: 100%;
}

#availability-note {
    color: #4fdd08;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    width: 50%;
}